<!--(bake ../core/header-part.html)-->
<!--(bake ../core/header.html)-->



<!--(bake ../heros/hero-text.html url="images/assets/Main-image-3.jpg" h1="Lifestyle" desc="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi rem nesciunt sapiente corrupti! Eius quae blanditiis sequi perferendis ipsum vel?")-->

<div class="small-carousel-container">
    <div class="swiper-container small-carousel">
     <h1>Continue to watch</h1>
     <div class="swiper-wrapper">
        <!--(bake ../cards/video-card.html url="images/assets/Screenshot 2020-09-14 at 12.22.12.jpg" text="     Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique pariatur voluptatem incidunt id tenetur soluta modi quidem ratione cum repellendus." time="03:32")-->
        <!--(bake ../cards/video-card.html url="images/assets/Screenshot 2020-09-14 at 17.48.04.jpg" text="     Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique pariatur voluptatem incidunt id tenetur soluta modi quidem ratione cum repellendus." time="03:32")-->
        <!--(bake ../cards/video-card.html url="images/assets/Screenshot 2020-09-11 at 00.01.05.jpg" text="     Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique pariatur voluptatem incidunt id tenetur soluta modi quidem ratione cum repellendus." time="03:32")-->
        <!--(bake ../cards/video-card.html url="images/assets/Screenshot 2020-09-14 at 12.22.12.jpg" text="     Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique pariatur voluptatem incidunt id tenetur soluta modi quidem ratione cum repellendus." time="03:32")-->
        <!--(bake ../cards/video-card.html url="images/assets/Screenshot 2020-09-14 at 17.48.04.jpg" text="     Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique pariatur voluptatem incidunt id tenetur soluta modi quidem ratione cum repellendus." time="03:32")-->
        <!--(bake ../cards/video-card.html url="images/assets/Screenshot 2020-09-11 at 00.01.05.jpg" text="     Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique pariatur voluptatem incidunt id tenetur soluta modi quidem ratione cum repellendus." time="03:32")-->
        
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
   </div>
 </div>  

<!--(bake ../featured/featured.html outside-title="Featured in Lifestyle" url="images/assets/Featured-2.jpg" title-1="The heart of" title-2="Y'Hallywood" time="8:32" desc="Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia blanditiis voluptas excepturi cumque suscipit animi fugiat adipisci nemo. Velit, repudiandae?" btn="WATCH NOW")-->

<div class="all-shows-container">
    <h1>all shows</h1>
    <div class="all-shows">
        <!--(bake ../cards/show-card.html url="images/assets/Screenshot 2020-09-14 at 17.48.04.jpg" text="lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor earum laboriosam ducimus laudantium! Aperiam similique corrupti vitae, soluta quas cupiditate.")-->
        <!--(bake ../cards/show-card.html url="images/assets/Working-the-room.jpg" text="lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor earum laboriosam ducimus laudantium! Aperiam similique corrupti vitae, soluta quas cupiditate.")-->
        <!--(bake ../cards/show-card.html url="images/assets/The-big-interview.jpg" text="lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor earum laboriosam ducimus laudantium! Aperiam similique corrupti vitae, soluta quas cupiditate.")-->
        <!--(bake ../cards/show-card.html url="images/assets/Screenshot 2020-09-14 at 17.48.04.jpg" text="lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor earum laboriosam ducimus laudantium! Aperiam similique corrupti vitae, soluta quas cupiditate.")-->
        <!--(bake ../cards/show-card.html url="images/assets/Working-the-room.jpg" text="lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor earum laboriosam ducimus laudantium! Aperiam similique corrupti vitae, soluta quas cupiditate.")-->
    </div>
</div>

<div class="small-carousel-container">
    <div class="swiper-container small-carousel">
     <h1>Other Categories</h1>
     <div class="swiper-wrapper">
        <!--(bake ../cards/categories-card.html bgcolor="#0090d9" text="Entertainment" )-->
        <!--(bake ../cards/categories-card.html bgcolor="#bc1f2f" text="Sports" )-->
        <!--(bake ../cards/categories-card.html bgcolor="#00b298" text="Business and News" )-->
        <!--(bake ../cards/categories-card.html bgcolor="#0090d9" text="Entertainment" )-->
        <!--(bake ../cards/categories-card.html bgcolor="#bc1f2f" text="Sports" )-->
        <!--(bake ../cards/categories-card.html bgcolor="#00b298" text="Business and News" )-->
    </div>
     <div class="swiper-button-prev"></div>
     <div class="swiper-button-next"></div>
   </div>
 </div>  


<!--(bake ../core/footer.html)-->
<!--(bake ../core/footer-part.html)-->