<!--(bake ../core/header-part.html)-->
<!--(bake ../core/header.html)-->

<!--(bake ../heros/hero-right.html url="images/assets/Main-image-2.jpg" yellow-title="AMC Hip hop" secondary-title="The songs that shook America" paragraph="reachtv, the live streaming networkthat shares authentic stories with the tastemakers of the world" btn="WATCH NOW")-->



<div class="small-carousel-container">
   <div class="swiper-container small-carousel">
    <h1>Continue to watch</h1>
    <div class="swiper-wrapper">
        <!--(bake ../cards/video-card-progress.html url="images/assets/Screenshot 2020-09-14 at 12.22.12.jpg" progress="30%" title="Cambodia pepper farm" text="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero natus fuga exercitationem dignissimos, blanditiis dolorem? Similique iure" time="5:32")-->
        <!--(bake ../cards/video-card-progress.html url="images/assets/Screenshot 2020-09-14 at 17.48.04.jpg" progress="40%" title="The heart of Y'Allywood" text="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero natus fuga exercitationem dignissimos, blanditiis dolorem? Similique iure" time="5:32")-->
        <!--(bake ../cards/video-card-progress.html url="images/assets/Screenshot 2020-09-11 at 00.01.05.jpg" progress="80%" title="Gaming and competition" text="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero natus fuga exercitationem dignissimos, blanditiis dolorem? Similique iure" time="5:32")-->
       <!--(bake ../cards/video-card-progress.html url="images/assets/Screenshot 2020-09-14 at 12.22.12.jpg" progress="30%" title="Cambodia pepper farm" text="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero natus fuga exercitationem dignissimos, blanditiis dolorem? Similique iure" time="5:32")-->
        <!--(bake ../cards/video-card-progress.html url="images/assets/Main-image-4.jpg" progress="40%" title="The heart of Y'Allywood" text="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero natus fuga exercitationem dignissimos, blanditiis dolorem? Similique iure" time="5:32")-->
        <!--(bake ../cards/video-card-progress.html url="images/assets/Screenshot 2020-09-11 at 00.01.05.jpg" progress="80%" title="Gaming and competition" text="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero natus fuga exercitationem dignissimos, blanditiis dolorem? Similique iure" time="5:32")-->

    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>  

<div class="small-carousel-container">
    <div class="swiper-container small-carousel">
     <h1>Popular shows</h1>
     <div class="swiper-wrapper">
        <!--(bake ../cards/basic-card.html  url="images/assets/Screenshot 2020-09-14 at 17.48.04.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/Close-up.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/u30x.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
         <!--(bake ../cards/basic-card.html  url="images/assets/Screenshot 2020-09-14 at 17.48.04.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/Close-up.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/u30x.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
     </div>
     <div class="swiper-button-prev"></div>
     <div class="swiper-button-next"></div>
   </div>
 </div>  


 <!--(bake ../featured/featured.html outside-title="Featured" url="images/assets/Featured-1.jpg" title-1="Andy Pyro" title-2="talks life" time="8:32" desc="Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia blanditiis voluptas excepturi cumque suscipit animi fugiat adipisci nemo. Velit, repudiandae?" btn="WATCH NOW")-->

 <div class="small-carousel-container">
    <div class="swiper-container small-carousel">
     <h1>Lifestyles</h1>
     <div class="swiper-wrapper">
        <!--(bake ../cards/basic-card.html  url="images/assets/Screenshot 2020-09-14 at 17.48.04.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/Close-up.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/u30x.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
         <!--(bake ../cards/basic-card.html  url="images/assets/Screenshot 2020-09-14 at 17.48.04.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/Close-up.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/u30x.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
     </div>
     <div class="swiper-button-prev"></div>
     <div class="swiper-button-next"></div>
     <button class="small-carousel-btn">VIEW ALL</button>
   </div>
 </div>  

 <div class="small-carousel-container">
    <div class="swiper-container small-carousel">
     <h1>Sports</h1>
     <div class="swiper-wrapper">
        <!--(bake ../cards/basic-card.html  url="images/assets/Screenshot 2020-09-14 at 17.48.04.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/Close-up.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/u30x.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
         <!--(bake ../cards/basic-card.html  url="images/assets/Screenshot 2020-09-14 at 17.48.04.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/Close-up.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/u30x.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
     </div>
     <div class="swiper-button-prev"></div>
     <div class="swiper-button-next"></div>
     <button class="small-carousel-btn">VIEW ALL</button>
   </div>
 </div>  

 <div class="small-carousel-container">
    <div class="swiper-container small-carousel">
     <h1>Entertainment</h1>
     <div class="swiper-wrapper">
        <!--(bake ../cards/basic-card.html  url="images/assets/Screenshot 2020-09-14 at 17.48.04.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/Close-up.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/u30x.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
         <!--(bake ../cards/basic-card.html  url="images/assets/Screenshot 2020-09-14 at 17.48.04.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/Close-up.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/u30x.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
     </div>
     <div class="swiper-button-prev"></div>
     <div class="swiper-button-next"></div>
     <button class="small-carousel-btn">VIEW ALL</button>
   </div>
 </div> 

 <div class="small-carousel-container">
    <div class="swiper-container small-carousel">
     <h1>Business and news</h1>
     <div class="swiper-wrapper">
        <!--(bake ../cards/basic-card.html  url="images/assets/Screenshot 2020-09-14 at 17.48.04.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/Close-up.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/u30x.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
         <!--(bake ../cards/basic-card.html  url="images/assets/Screenshot 2020-09-14 at 17.48.04.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/Close-up.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
        <!--(bake ../cards/basic-card.html url="images/assets/u30x.jpg" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem deleniti nam itaque doloremque distinctio? Minus, itaque inventore! Aperiam, incidunt?")-->
     </div>
     <div class="swiper-button-prev"></div>
     <div class="swiper-button-next"></div>
     <button class="small-carousel-btn">VIEW ALL</button>
    </div>
 </div> 

<!--(bake ../core/footer.html)-->
<!--(bake ../core/footer-part.html)-->
