<!--(bake ../core/header-part.html)-->
<!--(bake ../core/header.html)-->

<!--(bake ../heros/hero-center.html url="images/assets/Hollywood-eats.jpg" yellow-title="Great Stories" white-title="within reach." content="reachtv, the live streaming network that shares authentic stories with the tastemakers of the world." btn="START WATCHING")-->

<div class="featured-container">
  <!--(bake ../featured/featured-left.html number="01" url="images/assets/All-shows.jpg" title="Enjoy your favorite shows" desc="Watch high quality shows covering the best in news, business, sports, lifestyle, entertainment and travel")-->
  <!--(bake ../featured/featured-right.html number="02" url="images/assets/Apple-Devices.png" title="Enjoy your favorite shows" desc="Watch high quality shows covering the best in news, business, sports, lifestyle, entertainment and travel")-->
  <!--(bake ../featured/featured-left.html number="03" url="images/assets/Streaming-network.jpg" title="Enjoy your favorite shows" desc="Watch high quality shows covering the best in news, business, sports, lifestyle, entertainment and travel")-->
</div>

<div class="swiper-container big-carousel">
  <div class="swiper-wrapper">
    <!--(bake ../cards/big-card.html url="./images/assets/ink.jpg")-->
    <!--(bake ../cards/big-card.html url="./images/assets/Hip-hop.jpg")-->
    <!--(bake ../cards/big-card.html url="./images/assets/Live-nation.jpg")-->
  </div>
  <div class="swiper-pagination"></div>
</div>

<div class="newsletter-container">
<div class="newsletter">
  <img src="./images/REACH_logo.svg" alt="logo" />
  <h3>New episodes every day</h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.  dolor sit</p>
  <form>
    <input type="email" placeholder="Enter your email address" />
    <input type="submit" value="GET STARTED" />
  </form>
</div>
</div>

<!--(bake ../core/footer.html)-->
<!--(bake ../core/footer-part.html)-->
