<footer>
    <div class="footer-container">
        <div class="footer-links">
            <a href="#">Learn More</a>
            <a href="#">Work with us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Advertisers</a>
            <a href="#">Ink Group</a>
            <a href="#">Coockie preferences</a>
            <a href="#">Contact us</a>
            <a href="#">Legal</a>
            <a href="#">T&C</a>
        </div>
        <div class="footer-soc-med">
            <div class="footer-soc-med-icon">
                <img src="images/icons/Instagram.svg" alt="icon">
                <a href="#">Instagram</a>
            </div>
            <div class="footer-soc-med-icon">
                <img src="images/icons/Facebook.svg" alt="icon">
                <a href="#">Facebook</a>
            </div>
            <div class="footer-soc-med-icon">
                <img src="images/icons/Twitter_Logo_Blue.svg" alt="icon">
                <a href="">Twitter</a>
            </div>
        </div>
        <div class="footer-copyrights">
           @ 2020 reachtv
        </div>
    </div>
</footer>