<header>
  <div class="logo-container">
    <a href="reachTv.html"><img class="logo" src="images/REACH_logo.svg" alt="logo" /></a>
    <div class="desktop-links">
      <a href="index.html">Home</a>
      <li class="desktop-dropdown" href="#">
        Categories
        <img src="images/icons/keyboard_arrow_down-24px.svg" alt="arrow" />
        <ul>
          <li><a href="categories.html">Lifestyle</a></li>
          <li><a href="categories.html">Sports</a></li>
          <li><a href="categories.html">Entertainment</a></li>
          <li><a href="categories.html">Business and news</a></li>
          <li><a href="categories.html">Travel</a></li>
        </ul>
      </li>
    </div>
  </div>
  <div class="screen-menu">
    <a href="#">
    <img src="images/icons/search-24px.svg" alt="search" /></a>
    <div class="hamburger">
      <div class="burger"></div>
      <div class="burger"></div>
      <div class="burger"></div>
    </div>
    <div class="close-hamburger">
      <div class="cls-hamburger"></div>
      <div class="cls-hamburger"></div>
    </div>
  </div>
  <div class="screen-dropdown">
    <ul>
      <li><a href="index.html">Home</a></li>
      <div class="screen-dropdown-link-container">
        <li class="li-flex li-flex-categ">Categories  <img src="images/icons/keyboard_arrow_down-24px.svg" alt="arrow" /></li>
        <ul class="screen-dropdown-link">
            <li><a href="categories.html">Lifestyle</a></li> 
            <li><a href="categories.html">Sports</a></li> 
            <li><a href="categories.html">Entertainment</a></li> 
            <li><a href="categories.html">Business and news</a></li> 
            <li><a href="categories.html">Travel</a></li> 
         </ul>
      </div>
      <li><a href="#">Notifications</a></li>
      <div class="screen-dropdown-link-container">
        <li  class="li-flex">Settings <img src="images/icons/keyboard_arrow_down-24px.svg" alt="arrow" /></li>
        <ul class="screen-dropdown-link">
           <li><a href="#">Account</a></li> 
           <li><a href="#">Learn more</a></li> 
           <li><a href="#">Partners site</a></li> 
        </ul>
      </div>
      <li><a href="#">Log in</a></li> 
    </ul>
  </div>
  <div class="desktop-menu">
    <a href="#"><img src="images/icons/search-24px.svg" alt="search"></a>
    <a href="#">  <img src="images/icons/notifications-24px.svg" alt="notif"></a>
    <li  class="desktop-dropdown"><img src="images/icons/settings-24px.svg" alt="notif">
      <img src="images/icons/keyboard_arrow_down-24px.svg" alt="arrow-head">
      <ul>
        <li><a href="#">Account</a></li>
        <li><a href="#">Learn More</a></li>
        <li><a href="#">Partner site</a></li>
        <li><a href="#">Log in</a></li>
      </ul>
    </li>
  </div>
</header>
